<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ricky.module1">

    <application>
        <activity
            android:name=".TestActivity6"
            android:exported="true" />
        <activity
            android:name=".TestActivity5"
            android:exported="true" />
        <activity
            android:name=".TestActivity4"
            android:exported="true" />
        <activity
            android:name=".TestActivity2"
            android:exported="true" />
    </application>

</manifest>